@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
/*   font-family: "Cutive Mono", serif;
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*    font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 */

 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
 /*      font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 */
p{
    font-family: "Roboto Mono", serif;
}

h1{
    font-family: "Cutive Mono", serif;
}